<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
    let x = 0;
    let y = 0;
    var turn = {{ flag }};
    function repeat_stuff() {
        {% for row in user_board %}
            y = {{ loop.index0 }};
            {% for square in row %}
                x = {{ loop.index0 }};
                document.write('<button id="'+x+'_1_'+y+'";">{{ square }}</button>');
            {% endfor %}
            document.write('<label>-----</label>');
            {% for square in another_user_board[loop.index0] %}
                x = {{ loop.index0 }};
                document.write('<button disabled, onclick="fire('+x+','+y+')", id="'+x+'_2_'+y+'";">{{ square }}</button>');
                if (turn == 1) {
                    document.getElementById(x+"_2_"+y).disabled = false;
                }
                if (document.getElementById(x+"_2_"+y).innerHTML=="⚪" || document.getElementById(x+"_2_"+y).innerHTML=="🟥") {
                    document.getElementById(x+"_2_"+y).disabled = true;
                }
            {% endfor %}
            document.write('<br>');
        {% endfor %}
    }
    function fire(x, y) {
        if (turn == 1) {
            window.open("/fire/"+x+"_"+y, "_self");
        } else {
            alert("Сбой, сейчас не ваш ход!");
        }
    }
    function check_new() {
        window.open("/check_new", "_self");
    }
    if (turn == 0) {
        setTimeout(check_new, 10000);
    }
    repeat_stuff();
    </script>
    <title>Title</title>
</head>
<body>
</body>
</html>
