<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="put()" id="btn_put_0">{{ help_list[0] }}</button>
<button onclick="put()" id="btn_put_1">{{ help_list[1] }}</button>
<button onclick="put()" id="btn_put_2">{{ help_list[2] }}</button>
<button onclick="put()" id="btn_put_3">{{ help_list[3] }}</button>
<button onclick="put()" id="btn_put_4">{{ help_list[4] }}</button>
<button onclick="put()" id="btn_put_5">{{ help_list[5] }}</button>
<button onclick="put()" id="btn_put_6">{{ help_list[6] }}</button>
<button onclick="put()" id="btn_put_7">{{ help_list[7] }}</button>
<button onclick="put()" id="btn_put_8">{{ help_list[8] }}</button>
<button onclick="put()" id="btn_put_9">{{ help_list[9] }}</button>
<div></div>
<button onclick="put()" id="btn_put_10">{{ help_list[10] }}</button>
<button onclick="put()" id="btn_put_11">{{ help_list[11] }}</button>
<button onclick="put()" id="btn_put_12">{{ help_list[12] }}</button>
<button onclick="put()" id="btn_put_13">{{ help_list[13] }}</button>
<button onclick="put()" id="btn_put_14">{{ help_list[14] }}</button>
<button onclick="put()" id="btn_put_15">{{ help_list[15] }}</button>
<button onclick="put()" id="btn_put_16">{{ help_list[16] }}</button>
<button onclick="put()" id="btn_put_17">{{ help_list[17] }}</button>
<button onclick="put()" id="btn_put_18">{{ help_list[18] }}</button>
<button onclick="put()" id="btn_put_19">{{ help_list[19] }}</button>
<div></div>
<button onclick="put()" id="btn_put_20">{{ help_list[20] }}</button>
<button onclick="put()" id="btn_put_21">{{ help_list[21] }}</button>
<button onclick="put()" id="btn_put_22">{{ help_list[22] }}</button>
<button onclick="put()" id="btn_put_23">{{ help_list[23] }}</button>
<button onclick="put()" id="btn_put_24">{{ help_list[24] }}</button>
<button onclick="put()" id="btn_put_25">{{ help_list[25] }}</button>
<button onclick="put()" id="btn_put_26">{{ help_list[26] }}</button>
<button onclick="put()" id="btn_put_27">{{ help_list[27] }}</button>
<button onclick="put()" id="btn_put_28">{{ help_list[28] }}</button>
<button onclick="put()" id="btn_put_29">{{ help_list[29] }}</button>
<div></div>
<button onclick="put()" id="btn_put_30">{{ help_list[30] }}</button>
<button onclick="put()" id="btn_put_31">{{ help_list[31] }}</button>
<button onclick="put()" id="btn_put_32">{{ help_list[32] }}</button>
<button onclick="put()" id="btn_put_33">{{ help_list[33] }}</button>
<button onclick="put()" id="btn_put_34">{{ help_list[34] }}</button>
<button onclick="put()" id="btn_put_35">{{ help_list[35] }}</button>
<button onclick="put()" id="btn_put_36">{{ help_list[36] }}</button>
<button onclick="put()" id="btn_put_37">{{ help_list[37] }}</button>
<button onclick="put()" id="btn_put_38">{{ help_list[38] }}</button>
<button onclick="put()" id="btn_put_39">{{ help_list[39] }}</button>
<div></div>
<button onclick="put()" id="btn_put_40">{{ help_list[40] }}</button>
<button onclick="put()" id="btn_put_41">{{ help_list[41] }}</button>
<button onclick="put()" id="btn_put_42">{{ help_list[42] }}</button>
<button onclick="put()" id="btn_put_43">{{ help_list[43] }}</button>
<button onclick="put()" id="btn_put_44">{{ help_list[44] }}</button>
<button onclick="put()" id="btn_put_45">{{ help_list[45] }}</button>
<button onclick="put()" id="btn_put_46">{{ help_list[46] }}</button>
<button onclick="put()" id="btn_put_47">{{ help_list[47] }}</button>
<button onclick="put()" id="btn_put_48">{{ help_list[48] }}</button>
<button onclick="put()" id="btn_put_49">{{ help_list[49] }}</button>
<div></div>
<button onclick="put()" id="btn_put_50">{{ help_list[50] }}</button>
<button onclick="put()" id="btn_put_51">{{ help_list[51] }}</button>
<button onclick="put()" id="btn_put_52">{{ help_list[52] }}</button>
<button onclick="put()" id="btn_put_53">{{ help_list[53] }}</button>
<button onclick="put()" id="btn_put_54">{{ help_list[54] }}</button>
<button onclick="put()" id="btn_put_55">{{ help_list[55] }}</button>
<button onclick="put()" id="btn_put_56">{{ help_list[56] }}</button>
<button onclick="put()" id="btn_put_57">{{ help_list[57] }}</button>
<button onclick="put()" id="btn_put_58">{{ help_list[58] }}</button>
<button onclick="put()" id="btn_put_59">{{ help_list[59] }}</button>
<div></div>
<button onclick="put()" id="btn_put_60">{{ help_list[60] }}</button>
<button onclick="put()" id="btn_put_61">{{ help_list[61] }}</button>
<button onclick="put()" id="btn_put_62">{{ help_list[62] }}</button>
<button onclick="put()" id="btn_put_63">{{ help_list[63] }}</button>
<button onclick="put()" id="btn_put_64">{{ help_list[64] }}</button>
<button onclick="put()" id="btn_put_65">{{ help_list[65] }}</button>
<button onclick="put()" id="btn_put_66">{{ help_list[66] }}</button>
<button onclick="put()" id="btn_put_67">{{ help_list[67] }}</button>
<button onclick="put()" id="btn_put_68">{{ help_list[68] }}</button>
<button onclick="put()" id="btn_put_69">{{ help_list[69] }}</button>
<div></div>
<button onclick="put()" id="btn_put_70">{{ help_list[70] }}</button>
<button onclick="put()" id="btn_put_71">{{ help_list[71] }}</button>
<button onclick="put()" id="btn_put_72">{{ help_list[72] }}</button>
<button onclick="put()" id="btn_put_73">{{ help_list[73] }}</button>
<button onclick="put()" id="btn_put_74">{{ help_list[74] }}</button>
<button onclick="put()" id="btn_put_75">{{ help_list[75] }}</button>
<button onclick="put()" id="btn_put_76">{{ help_list[76] }}</button>
<button onclick="put()" id="btn_put_77">{{ help_list[77] }}</button>
<button onclick="put()" id="btn_put_78">{{ help_list[78] }}</button>
<button onclick="put()" id="btn_put_79">{{ help_list[79] }}</button>
<div></div>
<button onclick="put()" id="btn_put_80">{{ help_list[80] }}</button>
<button onclick="put()" id="btn_put_81">{{ help_list[81] }}</button>
<button onclick="put()" id="btn_put_82">{{ help_list[82] }}</button>
<button onclick="put()" id="btn_put_83">{{ help_list[83] }}</button>
<button onclick="put()" id="btn_put_84">{{ help_list[84] }}</button>
<button onclick="put()" id="btn_put_85">{{ help_list[85] }}</button>
<button onclick="put()" id="btn_put_86">{{ help_list[86] }}</button>
<button onclick="put()" id="btn_put_87">{{ help_list[87] }}</button>
<button onclick="put()" id="btn_put_88">{{ help_list[88] }}</button>
<button onclick="put()" id="btn_put_89">{{ help_list[89] }}</button>
<div></div>
<button onclick="put()" id="btn_put_90">{{ help_list[90] }}</button>
<button onclick="put()" id="btn_put_91">{{ help_list[91] }}</button>
<button onclick="put()" id="btn_put_92">{{ help_list[92] }}</button>
<button onclick="put()" id="btn_put_93">{{ help_list[93] }}</button>
<button onclick="put()" id="btn_put_94">{{ help_list[94] }}</button>
<button onclick="put()" id="btn_put_95">{{ help_list[95] }}</button>
<button onclick="put()" id="btn_put_96">{{ help_list[96] }}</button>
<button onclick="put()" id="btn_put_97">{{ help_list[97] }}</button>
<button onclick="put()" id="btn_put_98">{{ help_list[98] }}</button>
<button onclick="put()" id="btn_put_99">{{ help_list[99] }}</button>


<script>
if ("{{ need_to_reload }}"=="True"){
window.open("{{ url }}/start_game","_self")
console.log("Переход")
}

btn_put_0.onclick = function put() {
if (document.getElementById('btn_put_0').innerHTML=='O') {
window.open('{{ url }}/start_game/change/0','_self');
}
document.getElementById('btn_put_0').setAttribute('disabled', true);
}
btn_put_1.onclick = function put() {
if (document.getElementById('btn_put_1').innerHTML=='O') {
window.open('{{ url }}/start_game/change/1','_self');
}
document.getElementById('btn_put_1').setAttribute('disabled', true);
}
btn_put_2.onclick = function put() {
if (document.getElementById('btn_put_2').innerHTML=='O') {
window.open('{{ url }}/start_game/change/2','_self');
}
document.getElementById('btn_put_2').setAttribute('disabled', true);
}
btn_put_3.onclick = function put() {
if (document.getElementById('btn_put_3').innerHTML=='O') {
window.open('{{ url }}/start_game/change/3','_self');
}
document.getElementById('btn_put_3').setAttribute('disabled', true);
}
btn_put_4.onclick = function put() {
if (document.getElementById('btn_put_4').innerHTML=='O') {
window.open('{{ url }}/start_game/change/4','_self');
}
document.getElementById('btn_put_4').setAttribute('disabled', true);
}
btn_put_5.onclick = function put() {
if (document.getElementById('btn_put_5').innerHTML=='O') {
window.open('{{ url }}/start_game/change/5','_self');
}
document.getElementById('btn_put_5').setAttribute('disabled', true);
}
btn_put_6.onclick = function put() {
if (document.getElementById('btn_put_6').innerHTML=='O') {
window.open('{{ url }}/start_game/change/6','_self');
}
document.getElementById('btn_put_6').setAttribute('disabled', true);
}
btn_put_7.onclick = function put() {
if (document.getElementById('btn_put_7').innerHTML=='O') {
window.open('{{ url }}/start_game/change/7','_self');
}
document.getElementById('btn_put_7').setAttribute('disabled', true);
}
btn_put_8.onclick = function put() {
if (document.getElementById('btn_put_8').innerHTML=='O') {
window.open('{{ url }}/start_game/change/8','_self');
}
document.getElementById('btn_put_8').setAttribute('disabled', true);
}
btn_put_9.onclick = function put() {
if (document.getElementById('btn_put_9').innerHTML=='O') {
window.open('{{ url }}/start_game/change/9','_self');
}
document.getElementById('btn_put_9').setAttribute('disabled', true);
}
btn_put_10.onclick = function put() {
if (document.getElementById('btn_put_10').innerHTML=='O') {
window.open('{{ url }}/start_game/change/10','_self');
}
document.getElementById('btn_put_10').setAttribute('disabled', true);
}
btn_put_11.onclick = function put() {
if (document.getElementById('btn_put_11').innerHTML=='O') {
window.open('{{ url }}/start_game/change/11','_self');
}
document.getElementById('btn_put_11').setAttribute('disabled', true);
}
btn_put_12.onclick = function put() {
if (document.getElementById('btn_put_12').innerHTML=='O') {
window.open('{{ url }}/start_game/change/12','_self');
}
document.getElementById('btn_put_12').setAttribute('disabled', true);
}
btn_put_13.onclick = function put() {
if (document.getElementById('btn_put_13').innerHTML=='O') {
window.open('{{ url }}/start_game/change/13','_self');
}
document.getElementById('btn_put_13').setAttribute('disabled', true);
}
btn_put_14.onclick = function put() {
if (document.getElementById('btn_put_14').innerHTML=='O') {
window.open('{{ url }}/start_game/change/14','_self');
}
document.getElementById('btn_put_14').setAttribute('disabled', true);
}
btn_put_15.onclick = function put() {
if (document.getElementById('btn_put_15').innerHTML=='O') {
window.open('{{ url }}/start_game/change/15','_self');
}
document.getElementById('btn_put_15').setAttribute('disabled', true);
}
btn_put_16.onclick = function put() {
if (document.getElementById('btn_put_16').innerHTML=='O') {
window.open('{{ url }}/start_game/change/16','_self');
}
document.getElementById('btn_put_16').setAttribute('disabled', true);
}
btn_put_17.onclick = function put() {
if (document.getElementById('btn_put_17').innerHTML=='O') {
window.open('{{ url }}/start_game/change/17','_self');
}
document.getElementById('btn_put_17').setAttribute('disabled', true);
}
btn_put_18.onclick = function put() {
if (document.getElementById('btn_put_18').innerHTML=='O') {
window.open('{{ url }}/start_game/change/18','_self');
}
document.getElementById('btn_put_18').setAttribute('disabled', true);
}
btn_put_19.onclick = function put() {
if (document.getElementById('btn_put_19').innerHTML=='O') {
window.open('{{ url }}/start_game/change/19','_self');
}
document.getElementById('btn_put_19').setAttribute('disabled', true);
}
btn_put_20.onclick = function put() {
if (document.getElementById('btn_put_20').innerHTML=='O') {
window.open('{{ url }}/start_game/change/20','_self');
}
document.getElementById('btn_put_20').setAttribute('disabled', true);
}
btn_put_21.onclick = function put() {
if (document.getElementById('btn_put_21').innerHTML=='O') {
window.open('{{ url }}/start_game/change/21','_self');
}
document.getElementById('btn_put_21').setAttribute('disabled', true);
}
btn_put_22.onclick = function put() {
if (document.getElementById('btn_put_22').innerHTML=='O') {
window.open('{{ url }}/start_game/change/22','_self');
}
document.getElementById('btn_put_22').setAttribute('disabled', true);
}
btn_put_23.onclick = function put() {
if (document.getElementById('btn_put_23').innerHTML=='O') {
window.open('{{ url }}/start_game/change/23','_self');
}
document.getElementById('btn_put_23').setAttribute('disabled', true);
}
btn_put_24.onclick = function put() {
if (document.getElementById('btn_put_24').innerHTML=='O') {
window.open('{{ url }}/start_game/change/24','_self');
}
document.getElementById('btn_put_24').setAttribute('disabled', true);
}
btn_put_25.onclick = function put() {
if (document.getElementById('btn_put_25').innerHTML=='O') {
window.open('{{ url }}/start_game/change/25','_self');
}
document.getElementById('btn_put_25').setAttribute('disabled', true);
}
btn_put_26.onclick = function put() {
if (document.getElementById('btn_put_26').innerHTML=='O') {
window.open('{{ url }}/start_game/change/26','_self');
}
document.getElementById('btn_put_26').setAttribute('disabled', true);
}
btn_put_27.onclick = function put() {
if (document.getElementById('btn_put_27').innerHTML=='O') {
window.open('{{ url }}/start_game/change/27','_self');
}
document.getElementById('btn_put_27').setAttribute('disabled', true);
}
btn_put_28.onclick = function put() {
if (document.getElementById('btn_put_28').innerHTML=='O') {
window.open('{{ url }}/start_game/change/28','_self');
}
document.getElementById('btn_put_28').setAttribute('disabled', true);
}
btn_put_29.onclick = function put() {
if (document.getElementById('btn_put_29').innerHTML=='O') {
window.open('{{ url }}/start_game/change/29','_self');
}
document.getElementById('btn_put_29').setAttribute('disabled', true);
}
btn_put_30.onclick = function put() {
if (document.getElementById('btn_put_30').innerHTML=='O') {
window.open('{{ url }}/start_game/change/30','_self');
}
document.getElementById('btn_put_30').setAttribute('disabled', true);
}
btn_put_31.onclick = function put() {
if (document.getElementById('btn_put_31').innerHTML=='O') {
window.open('{{ url }}/start_game/change/31','_self');
}
document.getElementById('btn_put_31').setAttribute('disabled', true);
}
btn_put_32.onclick = function put() {
if (document.getElementById('btn_put_32').innerHTML=='O') {
window.open('{{ url }}/start_game/change/32','_self');
}
document.getElementById('btn_put_32').setAttribute('disabled', true);
}
btn_put_33.onclick = function put() {
if (document.getElementById('btn_put_33').innerHTML=='O') {
window.open('{{ url }}/start_game/change/33','_self');
}
document.getElementById('btn_put_33').setAttribute('disabled', true);
}
btn_put_34.onclick = function put() {
if (document.getElementById('btn_put_34').innerHTML=='O') {
window.open('{{ url }}/start_game/change/34','_self');
}
document.getElementById('btn_put_34').setAttribute('disabled', true);
}
btn_put_35.onclick = function put() {
if (document.getElementById('btn_put_35').innerHTML=='O') {
window.open('{{ url }}/start_game/change/35','_self');
}
document.getElementById('btn_put_35').setAttribute('disabled', true);
}
btn_put_36.onclick = function put() {
if (document.getElementById('btn_put_36').innerHTML=='O') {
window.open('{{ url }}/start_game/change/36','_self');
}
document.getElementById('btn_put_36').setAttribute('disabled', true);
}
btn_put_37.onclick = function put() {
if (document.getElementById('btn_put_37').innerHTML=='O') {
window.open('{{ url }}/start_game/change/37','_self');
}
document.getElementById('btn_put_37').setAttribute('disabled', true);
}
btn_put_38.onclick = function put() {
if (document.getElementById('btn_put_38').innerHTML=='O') {
window.open('{{ url }}/start_game/change/38','_self');
}
document.getElementById('btn_put_38').setAttribute('disabled', true);
}
btn_put_39.onclick = function put() {
if (document.getElementById('btn_put_39').innerHTML=='O') {
window.open('{{ url }}/start_game/change/39','_self');
}
document.getElementById('btn_put_39').setAttribute('disabled', true);
}
btn_put_40.onclick = function put() {
if (document.getElementById('btn_put_40').innerHTML=='O') {
window.open('{{ url }}/start_game/change/40','_self');
}
document.getElementById('btn_put_40').setAttribute('disabled', true);
}
btn_put_41.onclick = function put() {
if (document.getElementById('btn_put_41').innerHTML=='O') {
window.open('{{ url }}/start_game/change/41','_self');
}
document.getElementById('btn_put_41').setAttribute('disabled', true);
}
btn_put_42.onclick = function put() {
if (document.getElementById('btn_put_42').innerHTML=='O') {
window.open('{{ url }}/start_game/change/42','_self');
}
document.getElementById('btn_put_42').setAttribute('disabled', true);
}
btn_put_43.onclick = function put() {
if (document.getElementById('btn_put_43').innerHTML=='O') {
window.open('{{ url }}/start_game/change/43','_self');
}
document.getElementById('btn_put_43').setAttribute('disabled', true);
}
btn_put_44.onclick = function put() {
if (document.getElementById('btn_put_44').innerHTML=='O') {
window.open('{{ url }}/start_game/change/44','_self');
}
document.getElementById('btn_put_44').setAttribute('disabled', true);
}
btn_put_45.onclick = function put() {
if (document.getElementById('btn_put_45').innerHTML=='O') {
window.open('{{ url }}/start_game/change/45','_self');
}
document.getElementById('btn_put_45').setAttribute('disabled', true);
}
btn_put_46.onclick = function put() {
if (document.getElementById('btn_put_46').innerHTML=='O') {
window.open('{{ url }}/start_game/change/46','_self');
}
document.getElementById('btn_put_46').setAttribute('disabled', true);
}
btn_put_47.onclick = function put() {
if (document.getElementById('btn_put_47').innerHTML=='O') {
window.open('{{ url }}/start_game/change/47','_self');
}
document.getElementById('btn_put_47').setAttribute('disabled', true);
}
btn_put_48.onclick = function put() {
if (document.getElementById('btn_put_48').innerHTML=='O') {
window.open('{{ url }}/start_game/change/48','_self');
}
document.getElementById('btn_put_48').setAttribute('disabled', true);
}
btn_put_49.onclick = function put() {
if (document.getElementById('btn_put_49').innerHTML=='O') {
window.open('{{ url }}/start_game/change/49','_self');
}
document.getElementById('btn_put_49').setAttribute('disabled', true);
}
btn_put_50.onclick = function put() {
if (document.getElementById('btn_put_50').innerHTML=='O') {
window.open('{{ url }}/start_game/change/50','_self');
}
document.getElementById('btn_put_50').setAttribute('disabled', true);
}
btn_put_51.onclick = function put() {
if (document.getElementById('btn_put_51').innerHTML=='O') {
window.open('{{ url }}/start_game/change/51','_self');
}
document.getElementById('btn_put_51').setAttribute('disabled', true);
}
btn_put_52.onclick = function put() {
if (document.getElementById('btn_put_52').innerHTML=='O') {
window.open('{{ url }}/start_game/change/52','_self');
}
document.getElementById('btn_put_52').setAttribute('disabled', true);
}
btn_put_53.onclick = function put() {
if (document.getElementById('btn_put_53').innerHTML=='O') {
window.open('{{ url }}/start_game/change/53','_self');
}
document.getElementById('btn_put_53').setAttribute('disabled', true);
}
btn_put_54.onclick = function put() {
if (document.getElementById('btn_put_54').innerHTML=='O') {
window.open('{{ url }}/start_game/change/54','_self');
}
document.getElementById('btn_put_54').setAttribute('disabled', true);
}
btn_put_55.onclick = function put() {
if (document.getElementById('btn_put_55').innerHTML=='O') {
window.open('{{ url }}/start_game/change/55','_self');
}
document.getElementById('btn_put_55').setAttribute('disabled', true);
}
btn_put_56.onclick = function put() {
if (document.getElementById('btn_put_56').innerHTML=='O') {
window.open('{{ url }}/start_game/change/56','_self');
}
document.getElementById('btn_put_56').setAttribute('disabled', true);
}
btn_put_57.onclick = function put() {
if (document.getElementById('btn_put_57').innerHTML=='O') {
window.open('{{ url }}/start_game/change/57','_self');
}
document.getElementById('btn_put_57').setAttribute('disabled', true);
}
btn_put_58.onclick = function put() {
if (document.getElementById('btn_put_58').innerHTML=='O') {
window.open('{{ url }}/start_game/change/58','_self');
}
document.getElementById('btn_put_58').setAttribute('disabled', true);
}
btn_put_59.onclick = function put() {
if (document.getElementById('btn_put_59').innerHTML=='O') {
window.open('{{ url }}/start_game/change/59','_self');
}
document.getElementById('btn_put_59').setAttribute('disabled', true);
}
btn_put_60.onclick = function put() {
if (document.getElementById('btn_put_60').innerHTML=='O') {
window.open('{{ url }}/start_game/change/60','_self');
}
document.getElementById('btn_put_60').setAttribute('disabled', true);
}
btn_put_61.onclick = function put() {
if (document.getElementById('btn_put_61').innerHTML=='O') {
window.open('{{ url }}/start_game/change/61','_self');
}
document.getElementById('btn_put_61').setAttribute('disabled', true);
}
btn_put_62.onclick = function put() {
if (document.getElementById('btn_put_62').innerHTML=='O') {
window.open('{{ url }}/start_game/change/62','_self');
}
document.getElementById('btn_put_62').setAttribute('disabled', true);
}
btn_put_63.onclick = function put() {
if (document.getElementById('btn_put_63').innerHTML=='O') {
window.open('{{ url }}/start_game/change/63','_self');
}
document.getElementById('btn_put_63').setAttribute('disabled', true);
}
btn_put_64.onclick = function put() {
if (document.getElementById('btn_put_64').innerHTML=='O') {
window.open('{{ url }}/start_game/change/64','_self');
}
document.getElementById('btn_put_64').setAttribute('disabled', true);
}
btn_put_65.onclick = function put() {
if (document.getElementById('btn_put_65').innerHTML=='O') {
window.open('{{ url }}/start_game/change/65','_self');
}
document.getElementById('btn_put_65').setAttribute('disabled', true);
}
btn_put_66.onclick = function put() {
if (document.getElementById('btn_put_66').innerHTML=='O') {
window.open('{{ url }}/start_game/change/66','_self');
}
document.getElementById('btn_put_66').setAttribute('disabled', true);
}
btn_put_67.onclick = function put() {
if (document.getElementById('btn_put_67').innerHTML=='O') {
window.open('{{ url }}/start_game/change/67','_self');
}
document.getElementById('btn_put_67').setAttribute('disabled', true);
}
btn_put_68.onclick = function put() {
if (document.getElementById('btn_put_68').innerHTML=='O') {
window.open('{{ url }}/start_game/change/68','_self');
}
document.getElementById('btn_put_68').setAttribute('disabled', true);
}
btn_put_69.onclick = function put() {
if (document.getElementById('btn_put_69').innerHTML=='O') {
window.open('{{ url }}/start_game/change/69','_self');
}
document.getElementById('btn_put_69').setAttribute('disabled', true);
}
btn_put_70.onclick = function put() {
if (document.getElementById('btn_put_70').innerHTML=='O') {
window.open('{{ url }}/start_game/change/70','_self');
}
document.getElementById('btn_put_70').setAttribute('disabled', true);
}
btn_put_71.onclick = function put() {
if (document.getElementById('btn_put_71').innerHTML=='O') {
window.open('{{ url }}/start_game/change/71','_self');
}
document.getElementById('btn_put_71').setAttribute('disabled', true);
}
btn_put_72.onclick = function put() {
if (document.getElementById('btn_put_72').innerHTML=='O') {
window.open('{{ url }}/start_game/change/72','_self');
}
document.getElementById('btn_put_72').setAttribute('disabled', true);
}
btn_put_73.onclick = function put() {
if (document.getElementById('btn_put_73').innerHTML=='O') {
window.open('{{ url }}/start_game/change/73','_self');
}
document.getElementById('btn_put_73').setAttribute('disabled', true);
}
btn_put_74.onclick = function put() {
if (document.getElementById('btn_put_74').innerHTML=='O') {
window.open('{{ url }}/start_game/change/74','_self');
}
document.getElementById('btn_put_74').setAttribute('disabled', true);
}
btn_put_75.onclick = function put() {
if (document.getElementById('btn_put_75').innerHTML=='O') {
window.open('{{ url }}/start_game/change/75','_self');
}
document.getElementById('btn_put_75').setAttribute('disabled', true);
}
btn_put_76.onclick = function put() {
if (document.getElementById('btn_put_76').innerHTML=='O') {
window.open('{{ url }}/start_game/change/76','_self');
}
document.getElementById('btn_put_76').setAttribute('disabled', true);
}
btn_put_77.onclick = function put() {
if (document.getElementById('btn_put_77').innerHTML=='O') {
window.open('{{ url }}/start_game/change/77','_self');
}
document.getElementById('btn_put_77').setAttribute('disabled', true);
}
btn_put_78.onclick = function put() {
if (document.getElementById('btn_put_78').innerHTML=='O') {
window.open('{{ url }}/start_game/change/78','_self');
}
document.getElementById('btn_put_78').setAttribute('disabled', true);
}
btn_put_79.onclick = function put() {
if (document.getElementById('btn_put_79').innerHTML=='O') {
window.open('{{ url }}/start_game/change/79','_self');
}
document.getElementById('btn_put_79').setAttribute('disabled', true);
}
btn_put_80.onclick = function put() {
if (document.getElementById('btn_put_80').innerHTML=='O') {
window.open('{{ url }}/start_game/change/80','_self');
}
document.getElementById('btn_put_80').setAttribute('disabled', true);
}
btn_put_81.onclick = function put() {
if (document.getElementById('btn_put_81').innerHTML=='O') {
window.open('{{ url }}/start_game/change/81','_self');
}
document.getElementById('btn_put_81').setAttribute('disabled', true);
}
btn_put_82.onclick = function put() {
if (document.getElementById('btn_put_82').innerHTML=='O') {
window.open('{{ url }}/start_game/change/82','_self');
}
document.getElementById('btn_put_82').setAttribute('disabled', true);
}
btn_put_83.onclick = function put() {
if (document.getElementById('btn_put_83').innerHTML=='O') {
window.open('{{ url }}/start_game/change/83','_self');
}
document.getElementById('btn_put_83').setAttribute('disabled', true);
}
btn_put_84.onclick = function put() {
if (document.getElementById('btn_put_84').innerHTML=='O') {
window.open('{{ url }}/start_game/change/84','_self');
}
document.getElementById('btn_put_84').setAttribute('disabled', true);
}
btn_put_85.onclick = function put() {
if (document.getElementById('btn_put_85').innerHTML=='O') {
window.open('{{ url }}/start_game/change/85','_self');
}
document.getElementById('btn_put_85').setAttribute('disabled', true);
}
btn_put_86.onclick = function put() {
if (document.getElementById('btn_put_86').innerHTML=='O') {
window.open('{{ url }}/start_game/change/86','_self');
}
document.getElementById('btn_put_86').setAttribute('disabled', true);
}
btn_put_87.onclick = function put() {
if (document.getElementById('btn_put_87').innerHTML=='O') {
window.open('{{ url }}/start_game/change/87','_self');
}
document.getElementById('btn_put_87').setAttribute('disabled', true);
}
btn_put_88.onclick = function put() {
if (document.getElementById('btn_put_88').innerHTML=='O') {
window.open('{{ url }}/start_game/change/88','_self');
}
document.getElementById('btn_put_88').setAttribute('disabled', true);
}
btn_put_89.onclick = function put() {
if (document.getElementById('btn_put_89').innerHTML=='O') {
window.open('{{ url }}/start_game/change/89','_self');
}
document.getElementById('btn_put_89').setAttribute('disabled', true);
}
btn_put_90.onclick = function put() {
if (document.getElementById('btn_put_90').innerHTML=='O') {
window.open('{{ url }}/start_game/change/90','_self');
}
document.getElementById('btn_put_90').setAttribute('disabled', true);
}
btn_put_91.onclick = function put() {
if (document.getElementById('btn_put_91').innerHTML=='O') {
window.open('{{ url }}/start_game/change/91','_self');
}
document.getElementById('btn_put_91').setAttribute('disabled', true);
}
btn_put_92.onclick = function put() {
if (document.getElementById('btn_put_92').innerHTML=='O') {
window.open('{{ url }}/start_game/change/92','_self');
}
document.getElementById('btn_put_92').setAttribute('disabled', true);
}
btn_put_93.onclick = function put() {
if (document.getElementById('btn_put_93').innerHTML=='O') {
window.open('{{ url }}/start_game/change/93','_self');
}
document.getElementById('btn_put_93').setAttribute('disabled', true);
}
btn_put_94.onclick = function put() {
if (document.getElementById('btn_put_94').innerHTML=='O') {
window.open('{{ url }}/start_game/change/94','_self');
}
document.getElementById('btn_put_94').setAttribute('disabled', true);
}
btn_put_95.onclick = function put() {
if (document.getElementById('btn_put_95').innerHTML=='O') {
window.open('{{ url }}/start_game/change/95','_self');
}
document.getElementById('btn_put_95').setAttribute('disabled', true);
}
btn_put_96.onclick = function put() {
if (document.getElementById('btn_put_96').innerHTML=='O') {
window.open('{{ url }}/start_game/change/96','_self');
}
document.getElementById('btn_put_96').setAttribute('disabled', true);
}
btn_put_97.onclick = function put() {
if (document.getElementById('btn_put_97').innerHTML=='O') {
window.open('{{ url }}/start_game/change/97','_self');
}
document.getElementById('btn_put_97').setAttribute('disabled', true);
}
btn_put_98.onclick = function put() {
if (document.getElementById('btn_put_98').innerHTML=='O') {
window.open('{{ url }}/start_game/change/98','_self');
}
document.getElementById('btn_put_98').setAttribute('disabled', true);
}
btn_put_99.onclick = function put() {
if (document.getElementById('btn_put_99').innerHTML=='O') {
window.open('{{ url }}/start_game/change/99','_self');
}
document.getElementById('btn_put_99').setAttribute('disabled', true);
}



</script>
</body>
</html>